<div class="container">

  <h3 class="mb-5 text-center">Employee List</h3>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>Country</th>
      <th>Actions</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees">
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.country }}</td>
      <td>
        <button class="btn btn-warning" (click)="updateEmployee(employee.id)">Update</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteEmployee(employee.id)">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

